asgiref==3.8.1
Django==5.2
Faker==38.2.0
iniconfig==2.3.0
packaging==24.2
pillow==12.1.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
pytest-django==4.11.1
pytz==2025.2
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
