<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include "recipes/partials/head.html" %}
    <title>{% block title %}{% endblock title %}Recipes</title>
</head>

<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}
    <main class="main-content-container">
        {% block content %}{% endblock content %}
        {% if recipes.has_other_pages %}
            {% include "recipes/partials/pagination.html" %}
        {% endif %}
    </main>
    {% include "recipes/partials/footer.html" %}
</body>

</html>