{% include "recipes/partials/head.html" %}
<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://corhexa.com/png/1280x800/269fe6" alt="Temporário">
                </div>
                <h1>E aí?</h1>
            </div>
        </div>
    </main>
</body>
</html>